*,
::after,
::before {
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: space-around;
}

article {
  border: 2px solid black;
  width: 30%;
}

.image-container-asics {
  height: 600px;
  background-image: url("https://images.unsplash.com/photo-1560072810-1cffb09faf0f?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"),
    linear-gradient(transparent 60%, white 90%);
  width: 100%;
  height: 200px;
  background-size: contain;
  background-blend-mode: overlay;
}

.image-container-adidas {
  height: 600px;
  background-image: url("https://camo.githubusercontent.com/00ea0b9672f5f76a109734f4f276f467c30fc00a8bd4bded9ab2899cc2d23c29/68747470733a2f2f696d616765732e756e73706c6173682e636f6d2f666c61676765642f70686f746f2d313535363633373634302d3263383064333230316265383f69786c69623d72622d312e322e3126697869643d4d6e77784d6a4133664442384d48787761473930627931775957646c66487838664756756644423866487838266175746f3d666f726d6174266669743d63726f7026773d3134373026713d3830"),
    linear-gradient(transparent 60%, white 90%);
  width: 100%;
  height: 200px;
  background-size: contain;
  background-blend-mode: overlay;
}

.image-container-new-balance {
  height: 600px;
  background-image: url("https://camo.githubusercontent.com/581cb6ca8876325a1feb1341cc03e5e881325aab130ebb18b6bb024e131a5b92/68747470733a2f2f696d616765732e756e73706c6173682e636f6d2f70686f746f2d313533393138353434313735352d3736393437336132333537303f697869643d4d6e77784d6a4133664442384d48787761473930627931775957646c664878386647567566444238664878382669786c69623d72622d312e322e31266175746f3d666f726d6174266669743d63726f7026773d3134373126713d3830"),
    linear-gradient(transparent 60%, white 90%);
  width: 100%;
  height: 200px;
  background-size: contain;
  background-blend-mode: overlay;
}

section {
  display: grid;
  justify-content: center;
}

h2 {
  padding-left: 10px;
}

p {
  padding-left: 10px;
}

.price {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  grid-area: price;
}

.color-checkbox {
  grid-area: color-checkbox;
}

.dropdown-size {
  grid-area: dropdown-size;
}
